doctype
html(lang='en')
  head
    meta(charset='utf-8')

    title social engineering for good, not evil

    meta(name='description', content='A talk about how to make your javascript development more like your "real" development.')
    meta(name='author', content='Scott Nonnenberg')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='css/reveal.min.css')
    link(rel='stylesheet', href='css/theme/default.css', id='theme')
    link(rel='stylesheet', href='css/zenburn.css')
    //- If the query includes 'print-pdf', use the PDF print sheet --
    script.
      document.write( "<link rel='stylesheet' href='css/" +
       ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + ".css' type='text/css' media='print'>" );

    //- if lt IE 9
    //-   script(src='js/html5shiv.js')

    style.
      .center {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
      .runner {
        position: relative;
      }
      a.run {
        position: absolute;
        bottom: .5em;
        right: 2em;
      }
      .reveal a.run:not(.image) {
        color: white;
      }
      .reveal .spacer {
        margin-top: 1em;
      }
      .reveal th, .reveal td {
        padding: .3em;
      }
      .reveal th {
        font-weight: bold;
      }
      .reveal img.plain {
        border: 0;
        box-shadow: none;
        background: none;
      }
      .reveal img.max {
        width: 95%;
      }

  body
    .reveal

      .slides
        section
          h1 Social Engineering for Good, Not Evil
          h3.spacer Because it's not just about the tech
          h3.spacer: a(target='_blank', href='https://scottnonnenberg.com') Scott Nonnenberg
          h4: a(target='_blank', href='http://scottnonnenberg.github.io/social-engineering-for-good/dist/slides.html') github.com/scottnonnenberg/social-engineering-for-good

        section
          h1 The Divide
          aside.notes
            ul
              li Between tech and non-tech
              li Frustrations on both sides

        section
          section
            h1 Why me?
            aside.notes Well, I have an interesting history in the tech world...
          
          section
            img.max(src='img/milton.jpg')
            aside.notes
              ul
                li I was this guy! There's a reason there aren't many pictures remaining of me from high school
                li Discovered computer games at age 8
                li Family wasn't technical, always encouraging me to spend less time on the computer (guilt complex!)
                li Called a geek or brain in school
                li Started working at HP doing web dev in High school
                li Computer Science at CalPoly

          section
            img.max(src='img/lundberg.jpg')
            aside.notes
              ul
                li During my time at Microsoft, I got a little more "business-y"
                li And that caused resentment from the tech folks - called "overhead" 

          section
            h1 The challenge
            aside.notes
              ul
                li Technology came naturally to me, people didn't
                li I explicitly took the challenge, going from dev to business as I joined Microsoft
                li Called abrasive... at Microsoft!
                li People are harder to deal with than the code!

        section
          section
            h1 Student of human behavior
            aside.notes 
              ul
                li I needed to become a...
                li Treat it like a skill to be learned

          section
            h1 People matter
            aside.notes
              ul
                li They are as importrant to your career than your tech skill
                li Business is people interacting
                li Your job is people interacting
                li etc.

          section
            h2 You've got the hardware
            ul.spacer
              li.fragment We are systematic, logical thinkers
              li.fragment Debugging = collecting data, theorizing, testing
              li.fragment We've tuned our intuition for 'code smells'
            aside.notes 
              ul
                li We are systematic, logical thinkers
                  ul
                    li We think about entire systems, understand how one change will affect it
                li Debugging = collecting data, theorizing, testing
                  ul
                    li We all have that story of a really tough bug, where we tried approach after approach, and finally fixed it!
                li We've tuned our intuition for 'code smells'
                  ul
                    li By looking at lots and lots of code, we've trained low-level systems

        section
          section
            h1 Three C's of Communication
            aside.notes
              ul
                li First, let's talk about the basic building blocks of dealing with humans
  
          section
            h2 Clarity
            ul.spacer
              li.fragment Define terms
              li.fragment Summarize with paraphrasing
              li.fragment Agree on specific next steps
              li.fragment Send meeting notes 
            aside.notes
                ul
                  li Define terms
                    ul
                      li story: Everett at Microsoft, early on
                  li Summarize with paraphrasing
                    ul
                      li Exercise: have someone volunteer to paraphrase, have it be wrong. words are tricky!
                      li I need this by Friday
                      li This is extremely urgent! Get it to me ASAP.
                      li Please have this on my desk by EOD today.
                      li Please send the email in a few days.
                  li Agree on specific next steps
                  li Send meeting notes 
                    ul
                      li at Microsoft I used to take notes on the screen - real-time summary paraphrase!

          section
            h2 Confidence
            ul.spacer
              li.fragment Posture
              li.fragment Eye contact
              li.fragment No trail-off
              li.fragment Minimize weasel-words
            aside.notes
              ul
                li Posture
                  ul
                    li the classic tech posture
                    li [have everyone stand, shoulders back, chest forward, pelvis tilted a little back]
                    li standing desk, multiple keyboards!
                    li could do an entire talk on this
                    li go to massage therapist, physical therapist
                li Eye contact
                li No trail-off
                li Minimize weasel-words
                  ul
                    li used to crack down on this as a Project Manager at Microsoft
                    li speak plainly, no more and no less than necessary

          section
            h2 A word on weasel words
            ul.spacer
              li Remove authority with passive voice: "it is said"
              li Weaken core idea: "often", "probably"
              li Remove specific numbers: "some people", "experts", "many"
            .spacer
              | More info: 
              a(href='http://en.wikipedia.org/wiki/Weasel_word') Wikipedia
              |  / 
              a(href='http://www.weaselwords.com.au/home/') weaselwords.com.au

          section
            h2 Caring
            ul.spacer
              li.fragment Facial expressions, tones of voice
              li.fragment Be less judgmental!
              li.fragment Don't preach; influence
              li.fragment The Platinum Rule

            aside.notes
              li [here is where we have the risk of looking evil]
              li Facial expressions, tones of voice
                ul
                  li Beyond simple expressions, need to give them what they want, not what you want
                  li The key is that the same action without that caring, the positive body language, can be interpreted poorly
              li Be less judgmental!
                ul
                  li You know you do it - you're sure you're right, how could they possibly think so wrongly?
                  li we're really bad actors
                  li the best way to act like you care about someone is to actually care about them
                  li.spacer maybe you're already considered evil? maybe have a history of negative interactions
                  li will take time to break through

              li Don't preach; influence
                ul
                  li Can't appeal to some random authority
                  li Need to influence by speaking their language, connect to their priorities

              li The Platinum Rule
                ul
                  li A step better than the golden rule
                  li But it's even harder to do!
                  li Story: Asked for two-page stories for christmas because I already had too much stuff.
                  li I only got one story and a bunch of gifts.

          section
            h2 A word on relationships
            ul.spacer
              li.fragment Acknowledge feelings
              li.fragment Contradict facts softly
            aside.notes
              ul
                li Acknowledge feelings
                li Contradict facts softly
                li [the point is that we're valuing their perspective, even if it's different]

        section
          section
            h1 First, Seek Understanding

          section
            h2 Pay attention!
            aside.notes
              ul
              li build subconscious pattern recognition

          section
            img.max(src='img/code_nice.png')

          section
            img.max(src='img/code_ugly.png')

          section
            h2 Be deliberate in tuning your intuition!
            aside.notes
              ul
                li [which was was better, higher quality?]
                li tuning your intuition - requires lots of data an experiences
                li switch companies/teams?
                li the more cultures, people and teams you work with, the more data, better the tuning

          section
            h2 Build and Test Mental Models
            ul
              li.fragment(data-fragment-index='1') What do they know?
              li.fragment(data-fragment-index='1') What mindset might cause their current behavior?
              li.fragment(data-fragment-index='1') What are they trying to achieve with X action? Generally?
              li.fragment Consider larger context: incentives, deadlines, manager's desires, team, history, etc...
              li.fragment Test your theories by asking questions
            aside.notes
              ul
                li [Now we start building on top of that subconcsious pattern recognition - verbalize!]
                li What do they know?
                li What mindset might cause their current behavior?
                li What are they trying to achieve with X action? Generally?
                li Consider larger context: incentives, deadlines, manager's desires, team, history, etc...
                  ul
                    li [exercise? hold two conflicting ideas in your head]
                    li Key: you need to be okay with a different perspective
                li Test your theories by asking questions

          section
            h1 A word on your career
          
          section
            img.plain(src='img/venn_good.png')
            aside.notes
              ul
                li it's here you'll start to notice that most people are at the intersection of: easy, visible, good job]
                li It's not a bad thing, it's just the truth
                li And we're not being evil here; help people extend past that middle intersection
          
          section
            img.plain(src='img/venn_big_picture.png')
            aside.notes
              ul
                li you can be different
                li this is where you can push your career forward
                li Beware of people already here because it's in their visible/good job/easy bucket)
                li Also be sure to do enough to get that good job review; solid foundation
                li But what is that big pictures? Let's go deeper
 
          section
            h2 Getting Deeper
          
          section
            h2 Better questions
            ul
              li.fragment First, build trust
              li.fragment Important to do this 1 on 1
              li.fragment Open-ended, minimal leading
              li.fragment Ask why
              li.fragment "Tell me about the last time you X" (specific, recent)
              li.fragment Clarity: paraphrase, define words
              li.fragment How do they spend their time? money?
              li.fragment Try with your manager, peers, customers, friends, etc.
              aside.notes
                ul
                  li First, build trust
                    ul
                      li Again, with the evil - your percieved intentions matter here
                  li Important to do this 1 on 1
                    ul
                      li People will affect each other's answers
                  li Open-ended, minimal leading
                    ul
                      li you're trying to understand them, not influence them
                      li trying to understand deeper attitudes, true priorities - how they think
                  li Ask why or how questions
                  li "Tell me about the last time you X" (specific, recent)
                    ul
                      li Breakin  g through person's ideals about themselves
                      li Most people have lofty ideals, noble pursuits.
                      li when you look at how much time they actually spend on that stuff, it's pretty minimal
                      li You can trace back the majority of their time to a few things: money, sex, power, food, physical comfort.
                      li Now I'm starting to sound like a supervillain, justifying my plan to kill of most of the human race.
                      li That's the crazy thing. This is humanity, and it applies to all of us too.
                  li Clarity: paraphrase, define words
                  li How do they spend their time? money?
                  li Try with your manager, peers, customers, friends, etc.
                    ul
                      li From Steve Blank's Customer Development
                      li Extremely important in the startup world to truly understand your market

          section
            h1 Now what?
            aside.notes Now that you have all this deep understanding, what do you do with it?

          section
            h2 What is creativity?
            ul.spacer
              li.fragment Different
              li.fragment Unique
              li.fragment Better
              li.fragment Solving a problem
            aside.notes
              ul
                li [Can you guys define creativity for me?]
                li Different
                li Unique
                li Better
                li Solving a problem

        section
          section
            h1 Solve problems
            ul.spacer
              li Customer problems
              li Your manager's problems
              li Your peer's problems
              li Your friends' and family's problems

          section
            h2 A word on evil
            ul
              li.fragment Easy to 'fall into'
              li.fragment Fairness matters
              li.fragment Do they have any other options?
              li.fragment Is it too direct?
              li.fragment Did you give them a chance to help?
              aside.notes
                ul
                  li Easy to 'fall into'
                    ul
                      li The real world isn't superheroes and supervillains.
                      li Free-to-play games - is that abusing deep knowledge of psychology?
                  li Fairness matters
                    ul
                      li You're collaborating on something. Make sure the outcome is reasonably fair for you.
                      li Be sure to give credit to those your worked with.
                  li Do they have any other options?
                    ul
                      li Uber's congestion pricing
                      li High-priced umbrellas (rain) or fans and AC (heat)
                      li People taking low-wage jobs
                  li Is it too direct?
                    ul
                      li Need to make sure to address higher ideas as well as low-level needs/desires
                      li Money and meaning makes for a better, fuller job                     
                      li Straight porn vs. using sex to sell in a subtle way
                  li Did you give them a chance to help?
                    ul
                      li It's a hit to pride if you just do something for someone

        section
          h2 Summary
          ul
            li Become a student of human behavior
            li First, seek understanding
              ul
                li Pay attention: tune intuition with lots of data
                li Build and test mental models
                li Get deeper: past the abstract and ideal
            li Communicate well - three C's
              ul
                li Clarity
                li Confidence
                li Caring: the platinum rule, judge less
            li Solve problems!

        section
          section
            h1 Next Steps

          section
            h2 Next steps: Advanced
            ul.spacer
              li Understanding entire systems
                ul
                  li How a team works together
                  li How a team works with another team
                  li How a set of teams interact with each other
                  li How the entire business works
              li Predicting emergent behavior - a few steps ahead
              li Entrepreneurship - at its core, solving people's problems

          section
            h2 Next steps: Involve Others
            ul.spacer
              li Get a mentor to talk through things
              li Find a peer to code review your theories
              li Play this game with friends for movies/shows/books:
                ul
                  li Why did the character do X?
                  li Does that seem consistent with their character/world?
                  li Do you have any guesses about the writer? Their biases?
              li However you learn best: books/magazines/blogs/etc.

          section    
            h2 Next Steps: Further reading
            ul.spacer
              li: a(target='_blank', href='https://news.ycombinator.com/item?id=7493290') Ask HN: difference between junior and senior developer 
                ul
                  li: a(target='_blank', href='https://news.ycombinator.com/item?id=7493493') "Most of the important skills have nothing to do with technology"
                  li: a(target='_blank', href='https://news.ycombinator.com/item?id=7493661') Humility/self-awareness
              li
                a(target='_blank', href='https://medium.com/p/e60c10d3ed1f') A woman's perspective on the tech industry
                ul
                  li (valuable traits: "empathy, humility, and introspection")
              li: a(target='_blank', href='http://www.yesmagazine.org/issues/education-uprising/raise-your-hand-if-you-know-how-it-feels') Empathy helping high-poverty schools
              li: a(target='_blank', href='http://giffconstable.com/2012/12/12-tips-for-early-customer-development-interviews-revision-3/') Good interviewing techniques
              li Steve Blank's Customer Development: 
                a(href='https://www.udacity.com/course/ep245') blog posts
                |  / 
                a(href='http://steveblank.com/category/customer-development/') class
              li: a(target='_blank', href='http://www.amazon.com/Triumphs-Experience-Harvard-Grant-Study/dp/0674059824') What makes for a 'good' life and career

        section
          h1 Questions?
          h3.spacer: a(_target='_blank', href='https://github.com/scottnonnenberg/social-engineering-for-good') github.com/scottnonnenberg/social-engineering-for-good
          h3: a(_target='_blank', href='https://scottnonnenberg.com') scottnonnenberg.com

        section
          h1 Thanks!
          h3.spacer: a(_target='_blank', href='https://github.com/scottnonnenberg/social-engineering-for-good') github.com/scottnonnenberg/social-engineering-for-good
          h3: a(_target='_blank', href='https://scottnonnenberg.com') scottnonnenberg.com

    script(src='js/head.min.js')
    script(src='js/reveal.min.js')

    script.
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,
        overview: true,

        theme: 'default',
        transition: 'linear',

        dependencies: [
          { src: 'js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'lib/notes/notes.js', async: true },
        ]
      });
