doctype
html(lang='en')
  head
    meta(charset='utf-8')

    title social engineering for good, not evil

    meta(name='description', content='A talk on some techniques tech folks can use to work better with the people around them.')
    meta(name='author', content='Scott Nonnenberg')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='stylesheet', href='css/reveal.min.css')
    link(rel='stylesheet', href='css/theme/default.css', id='theme')
    link(rel='stylesheet', href='css/zenburn.css')
    //- If the query includes 'print-pdf', use the PDF print sheet --
    script.
      document.write( "<link rel='stylesheet' href='css/" +
       ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + ".css' type='text/css' media='print'>" );

    //- if lt IE 9
    //-   script(src='js/html5shiv.js')

    style.
      .center {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
      }
      .runner {
        position: relative;
      }
      a.run {
        position: absolute;
        bottom: .5em;
        right: 2em;
      }
      .reveal a.run:not(.image) {
        color: white;
      }
      .reveal .spacer {
        margin-top: 1em;
      }
      .reveal th, .reveal td {
        padding: .3em;
      }
      .reveal th {
        font-weight: bold;
      }
      .reveal img.plain {
        border: 0;
        box-shadow: none;
        background: none;
      }
      .reveal img.max {
        width: 95%;
      }
      .reveal .small {
        text-align: center;
        font-size: 60%;
      }


  body
    .reveal

      .slides
        section
          h1 Social Engineering for Good, Not Evil
          h3.spacer Because it's not just about the tech
          h3.spacer: a(target='_blank', href='https://scottnonnenberg.com') Scott Nonnenberg
          h4: a(target='_blank', href='http://scottnonnenberg.github.io/social-engineering-for-good/dist/slides.html') github.com/scottnonnenberg/social-engineering-for-good
          .center.small
            | 'space'/arrow keys/swipe to navigate, 'esc' to zoom out, 's' for speaker notes

        section
          section
            h1 The Divide
            aside.notes
              ul
                li Between tech and non-tech
                li Frustrations on both sides
                li Video of the eight red lines, in transparent and green ink
                li All have our pet peeve of popular thing without technical merit

          section
            img(src='img/business.jpg')
            aside.notes
              ul
                li One of the first images in a google image search for "Business"
                li Why are these nauseatingly bland business images so common?
                li Notice, only one computer

          section
            h1 People matter
            aside.notes
              ul
                li They are as importrant to your career than your tech skill
                li Business is people interacting
                li Your job, Your family, Your life - people interacting

        section
          section
            h1 Why me?
            aside.notes Well, I have an interesting history in the tech world...
          
          section
            img.max(src='img/milton.jpg')
            aside.notes
              ul
                li I was this guy! There's a reason there aren't many pictures remaining of me from high school
                li Discovered computer games at age 8
                li Family wasn't technical, always encouraging me to spend less time on the computer (guilt complex!)
                li Called a geek or brain in school
                li Found my place: working at HP doing web dev in High school
                li College was better yet: Computer Science at CalPoly

          section
            img.max(src='img/lundberg.jpg')
            aside.notes
              ul
                li Call out of the blue from recruiter, "What's a Program Manager?"
                li During my time at Microsoft, I got a little more "business-y"
                li And that caused resentment from the tech folks - called "overhead" 
                li Some sort of record: insulted by both sides!
                li Still technical! Took a week off entirely to code at one point

          section
            h1 The challenge
            aside.notes
              ul
                li Technology came naturally to me, people didn't
                li I explicitly took the challenge, going from dev to business as I joined Microsoft
                li Wasn't easy! Feedback of 'abrasive' at Microsoft!
                li People are harder to deal with than the code!

        section
          section
            h1 Student of human behavior
            aside.notes 
              ul
                li I needed to become a...
                li Treat it like a skill to be learned

          section
            h2 You've got the hardware
            ul.spacer
              li.fragment We are systematic, logical thinkers
              li.fragment Debugging = collecting data, theorizing, testing
              li.fragment We've tuned our intuition for 'code smells'
            aside.notes 
              ul
                li We are systematic, logical thinkers
                  ul
                    li We think about entire systems, understand how one change will affect it
                li Debugging = collecting data, theorizing, testing
                  ul
                    li Tenacity. All have story of dogged determination.
                    li Days! Many times through that cycle! Finally got it.
                li We've tuned our intuition for 'code smells'
                  ul
                    li By looking at lots and lots of code, we've trained low-level systems

        section
          section
            h1 Three C's of Communication
            aside.notes
              ul
                li First, let's talk about the basic building blocks of dealing with humans
  
          section
            h2 Clarity
            ul.spacer
              li.fragment Define terms
              li.fragment Summarize with paraphrasing
              li.fragment Agree on specific next steps
              li.fragment Send meeting notes 
            aside.notes
                ul
                  li Define terms
                    ul
                      li story: Everett at Microsoft, early on
                  li Summarize with paraphrasing ("I'm hearing...")
                  li Agree on specific next steps
                  li Send meeting notes 
                    ul
                      li at Microsoft I used to take notes on the screen - real-time summary paraphrase!

          section
            h2 Exercise: Clarity
            h3  Any volunteers for some paraphrasing?
            spacer.fragment
              | "There will be an overall envelope of resources for operating costs that will be subject to a downward trajectory over time representing efficiency. Within that envelope, there will be very broad freedom to tailor pay and conditions to the requirements of the marketplace" 
              | (
              a(target='_blank', href='http://www.weaselwords.com.au/home/') Source
              | )
            aside.notes
              ul
                li Budget will go down over time, because efficiency is getting better.
                li Within that budget, can still pay employees market rates.

          section
            h2 Confidence
            .spacer
              ul
                li.fragment Eye contact
                li.fragment Authority
                li.fragment Posture
            .spacer
              img.fragment(src='img/posture_bad.png')
            aside.notes
              ul
                li Eye contact
                li Authority
                  ul
                    li Strong, even voice. Don't trail off
                    li Believe in what you're saying; have conviction
                    li Claim your space in room/meeting
                    li Like you're meant to be there
                li Posture
                  ul
                    li Laptops are bad, umkay?
                    li Literally cannot use them with the right ergonomics

          section
            h2 Exercise: Posture
            .spacer
              ul
                li Let's try for better posture
            .spacer
              ol
                li.fragment Stand up!
                li.fragment Shoulders back/down and chest forward
                li.fragment Pelvis tilted a little back
                li.fragment Hold that for a bit
            aside.notes
              ol
                li Stand
                li Shoulders back and chest forward
                li Pelvis tilted a little back
                li Hold that for a bit
              ul
                li Notice your back? Shoulders? Maybe a bit of abs, butt and legs?
                li Recommend: yoga, massage, physical therapist
                li I use Standing desk, multiple keyboards!
                li Long, slow progress. Could do an entire talk.

          section
            h2 Caring
            ul.spacer
              li.fragment Facial expressions, tones of voice
              li.fragment Be less judgmental!
              li.fragment Don't preach; influence
              li.fragment The Platinum Rule

            aside.notes
              li [now we need to assure people of our intentions - why I was 'abrasive' at MSFT?]
              li Facial expressions, tones of voice
                ul
                  li You know you do it. Your frustration/disdain shows through
                  li History of negative interactions? will take time to break through
                  li We're really bad actors, so...
              li Be less judgmental!
                ul
                  li "Your belief system is internally inconsistent, therefore I judge you"
                  li Is your system fully consistent? Maybe they have some internal rationality?
              li Don't preach; influence
                ul
                  li Can't appeal to some random authority
                  li Need to influence by speaking their language, connect to their priorities
              li The Platinum Rule
                ul
                  li A step better, and more difficult than the golden rule
                  li Story: Asked for two-page stories for christmas because I already had too much stuff.

          section
            img.max(src='img/5_love_languages.jpg')
            aside.notes
              ul
                li This isn't couples counseling
                li But, this book is The Platinum Rule for romantic relationships
                li How to express your love in a language your partner understands

        section
          section
            h1 First, Seek Understanding
            aside.notes
              ul
                li There's a theme with the 'Caring' - you need to understand them better

          section
            h1 Pay attention!
            aside.notes
              ul
              li Build subconscious pattern recognition

          section
            h2 Exercise: Pattern Recognition
            ul
              li Which code is higher quality? Why?
            img.spacer.max.plain(src='img/code_comparison.png')
            aside.notes
              ul
                li Didn't take that long to figure it out
                li It's not an innate skill - it's something you've worked on for a long time
          
          section
            h2 You already do this for people
            img.max(src='img/han_solo_returns.jpg')
            aside.notes
              ul
                li You do this already
                li You were surprised when Han came back to help Luke in Episode 4, right?
                li Think of the last time you were surprised by something someone did...

          section
            h1 Make it deliberate!
            aside.notes
              ul
                li switch companies/teams?
                li the more cultures, people and teams you work with, the more data, better the tuning
                li Now let's start to verbalize what we know subconsciously

          section
            h2 Build Mental Models
            ul.spacer
              li.fragment What kind of person are they?
              li.fragment What do they know? What don't they know?
              li.fragment What mindset might cause their current behavior?
              li.fragment What are they trying to achieve with X action? Generally?
              li.fragment What's the larger context?
                ul
                  li Incentives
                  li Deadlines
                  li Manager's desires
                  li Team
                  li History
            aside.notes
              ul
                li (start basic and general) What kind of person are they?
                li What do they know? What don't they know?
                li What mindset might cause their current behavior?
                  ul
                    li Example: someone cuts in front of you at grocery store. Why?
                li What are they trying to achieve with X action? Generally?
                li Consider larger context
                  ul
                    li Incentives
                    li Deadlines
                    li Manager's desires
                    li Team
                    li History
 
          section
            h2 Exercise: Build a mental model
            h3.spacer Why did Han Solo say "I know"?
            img.max(src='img/han_solo_i_know.jpg')
            aside.notes
              ul
                li Turn to a neighbor and come up with a theory
                li 2 minutes
                li Ask for hands raised: we've got some theories out there?

          section
            h2 Play this game with friends!
            ul.spacer
              li Movies, TV Shows, Books
              li Why did character X do Y?
              li Does that seem consistent with their character/world?
              li Any guesses about the writer? Their biases?
            aside.notes
              ul
                li Can also consider public/historical figures

          section
            h1 Your biases
            aside.notes
              ul
                li Your own biases are going to start coming to the fore here
                li You'll notice that you project onto others quite a lot
                li Maybe you initially assume everyone has negative intentions? They want status?
                li That's why it's good to bring in others: Friends, Mentors, etc.
                li Why we test those mental models!

          section
            h2 Testing Mental Models
            ul.spacer
              li.fragment Verify your assumptions: what they know, their larger context
              li.fragment Dig into their thought processes: "How did you approach X?"
              li.fragment Get more detail: "Tell me more about X"
              li.fragment Explore their self-image: "Why did you do X?" (repeat) 
              li.fragment Get at core motivations:
                ul
                  li.fragment Ask for recent, specific stories instead of hypotheticals
                  li.fragment How they use time and money - an expression of priorities
              li.fragment Clarity: ask for terms to be defined, paraphrase back
              aside.notes
                ul
                  li Verify your assumptions: what they know, their larger context
                  li Dig into their thought processes: "How did you approach X?"
                  li Get more detail: "Tell me more about X"
                  li Explore their self-image: "Why did you do X?" (repeat) 
                  li Get at core motivations:
                    ul
                      li Ask for recent, specific stories instead of hypotheticals
                      li How they use time and money - an expression of priorities
                  li Clarity: ask for terms to be defined, paraphrase back
                  li [Caring/intentions super important here]
                  li [Important to do this 1 on 1; no cross-talk]

          section
            h2 Exercise: Build and Test
            ul
              li First, find someone who uses a different Code Editor
              li Take 1 minute to Build a Mental Model
              li Each take 90 seconds for Testing
            img.plain(src='img/visual_studio.png', style='max-width:25%; padding: 1em')
            img.plain(src='img/eclipse.png', style='max-width:25%; padding: 1em')
            img.plain(src='img/sublime_text.png', style='max-width:25%; padding: 1em')
            aside.notes
              ul
                li [Remember no judging!]
                li Ask for hands raised: ask for summaries of what they found
                li Anyone surprised by answers to questions? Why?
                li Any biases discovered?

        section
          h1 Now what?
          aside.notes
            ul
              li That communicate, build, test loop: feedback system to improve skills
              li What can you eventually do with it?
              li Story: Dev10 SP1 - 2000-person project
              li Held focus group to provide details of branch/process to dev/QA.
              li Challenge concept of 'coming naturally' - it's about feedback loops
              li With tech, found a positive reward system for improving my skills there
              li It's time for us to create that for dealing with people

        section
          h2 Summary
          ul
            li Become a student of human behavior
            li First, seek understanding
              ul
                li Pay attention: tune intuition with lots of data
                li Build mental models: consider knowledge, context
                li Understand some of your own biases
                li Test mental models: validate assumptions, motivations
            li Communicate well - three C's
              ul
                li Clarity: specifics, next steps
                li Confidence: posture, eye contact
                li Caring: the platinum rule, judge less

        section
          section
            h1 Next Steps

          section    
            h2 Next Steps: Further reading
            ul.spacer
              li: a(target='_blank', href='http://www.amazon.com/Thinking-Fast-Slow-Daniel-Kahneman/dp/0374533555') Book: Thinking, Fast and Slow
              li: a(target='_blank', href='http://www.amazon.com/The-Willpower-Instinct-Self-Control-Matters/dp/1583334386') Book: The Willpower Instinct
              li: a(target='_blank', href='https://news.ycombinator.com/item?id=7493290') Ask HN: difference between junior and senior developer 
                ul
                  li: a(target='_blank', href='https://news.ycombinator.com/item?id=7493493') "Most of the important skills have nothing to do with technology"
                  li: a(target='_blank', href='https://news.ycombinator.com/item?id=7493661') Humility/self-awareness
              li
                a(target='_blank', href='https://medium.com/p/e60c10d3ed1f') Article: A woman's perspective on the tech industry
                ul
                  li (valuable traits: "empathy, humility, and introspection")
              li: a(target='_blank', href='http://giffconstable.com/2012/12/12-tips-for-early-customer-development-interviews-revision-3/') Article: Good interviewing techniques
              li Steve Blank's Customer Development: 
                a(href='https://www.udacity.com/course/ep245') Blog Posts
                |  / 
                a(href='http://steveblank.com/category/customer-development/') Class

          section
            h2 Next steps: Advanced
            ul.spacer
              li Understanding entire systems
                ul
                  li How a team works together
                  li How a team works with another team
                  li How a set of teams interact with each other
                  li How the entire business works
              li Software usability - what is the user trying to achieve?
              li Predicting emergent behavior - a few steps ahead
              li Entrepreneurship - at its core, solving people's problems

        section
          h1 Thanks!
          h3.spacer: a(_target='_blank', href='https://github.com/scottnonnenberg/social-engineering-for-good') github.com/scottnonnenberg/social-engineering-for-good
          h3: a(_target='_blank', href='https://scottnonnenberg.com') scottnonnenberg.com
          aside.notes
            ul
              li Thanks for the opportunity to speak
              li Experiment with this material
              li Thanks for listening

        section
          h1 Questions?
          h3.spacer: a(_target='_blank', href='https://github.com/scottnonnenberg/social-engineering-for-good') github.com/scottnonnenberg/social-engineering-for-good
          h3: a(_target='_blank', href='https://scottnonnenberg.com') scottnonnenberg.com


    script(src='js/head.min.js')
    script(src='js/reveal.min.js')

    script.
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,
        overview: true,

        theme: 'default',
        transition: 'linear',

        dependencies: [
          { src: 'js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'lib/notes/notes.js', async: true },
        ]
      });
